header{
  text-align: center;
  color: #eee;
  font-size: 28px;
  background-color: #333333;
  padding-top: 12px;
  padding-bottom: 4px;

}

.main-bio{
  float: left;
  width: 70%;
  margin: 150px auto;
}

.img_marky{
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 3px solid white;
  margin-right: 20px;

}

.container{
  width: 1024px;
  margin: 0 auto;
  margin-left: 15px;
}


h2{
  font-size: 24px;

  
}
#contact-info{
  float: left;
  width: 30%;
  line-height: 1.5;
  margin-left: 1000px;
margin-bottom: 200px;



}


body{
  margin: 0;
  padding: 0;
  background-color: #efeee7;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font: #333333;
  justify-content: center;
  align-items: center;
}

a{
  color: #d21034;
}

h3{
  font-size:20px ;
}